---
layout: default
---

<main class="home">

  <h2 class="page-heading">Selected Works</h2>
  
  <ul class="projects">
    <li>
      <a href="//bostonglobe.com/elections/2016" target="_blank" class="project__title">Elections 2016 /</a> 
      Boston Globe
      <a href="https://github.com/BostonGlobe/elections-2016" target="_blank" class="project__github">{% include icon-github.svg %}</a>

    <li>
      <a href="https://apps.bostonglobe.com/news/politics/graphics/2017/01/unbowed/" class="project__title">Unbowed /</a>
      Boston Globe
      <a href="https://github.com/BostonGlobe/unbowed" target="_blank" class="project__github">{% include icon-github.svg %}</a>

    <li>
      <a href="https://www.youtube.com/watch?v=zMXcUZEU1Hw" target="_blank" class="project__title">WordCamp 2016 /</a>
      Speaker

    <li>
      <a href="//newenglandvegfest.com" target="_blank" class="project__title">New England Vegfest /</a>
      Founder, Organizer, Web Developer

    <li>
      <a href="https://gopperman.github.io/Vizer" target="_blank" class="project__title">Vizer /</a>
      Data Visualization Generator
      <a href="https://github.com/gopperman/Viser" target="_blank" class="project__github">{% include icon-github.svg %}</a>

    <li>
      <a href="//shack-up.co" class="project__title">ShackUp /</a>
      Tinder for Real Estate
      <a href="https://github.com/gopperman/shackup" target="_blank" class="project__github">{% include icon-github.svg %}</a>

    <li>
      <a href="https://shop.bdgastore.com/" target="_blank" class="project__title">Bodega /</a>
      for ICS

    <li>
      <a href="//hallandoat.es" target="_blank" class="project__title">HallandOat.es</a>
      <a href="/https://github.com/gopperman/hallandoates" target="_blank" class="project__github">{% include icon-github.svg %}</a>

    <li>
      <a href="http://wheatoncollege.edu/map/" target="_blank" class="project__title">Wheaton Map /</a>
      Interactive Campus Visualization
      <a href="https://github.com/WheatonCollege/map" target="_blank" class="project__github">{% include icon-github.svg %}</a>

    <li>
      <a href="//breedtv.com/" target="_blank" class="project__title">BreedTV /</a>
      An exercise in eternal curation
      <a href="https://github.com/gopperman/breedtv" target="_blank" class="project__github">{% include icon-github.svg %}</a>

    <li>
      <a href="https://gopperman.github.io/burger-roulette/" target="_blank" class="project__title">Burger Roulette</a>
      <a href="https://github.com/gopperman/burger-roulette" target="_blank" class="project__github">{% include icon-github.svg %}</a>
  </ul>

<!--  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>-->
</main>
